.contact-about 
    .contact-blog__content.container 
      .number-data 
        h2.number-data__title Контакты
        hr
        .location 
          .location-data 
            .icon-loc 
              img(src="../assets/img/Location.png", alt="")

