.blog-navs.container
	.info-navs 
		nav.nav-card__info 
			a.nav__info(href="#") Холодные закуски
			a.nav__info(href="#") Горячие закуски
			a.nav__info(href="#") Мясные блюда
			a.nav__info(href="#") Супы
			a.nav__info(href="#") Рыбные блюда
			a.nav__info(href="#") Гриль меню
			a.nav__info(href="#") Фирменнные блюда
			a.nav__info(href="#") Напитки

.banner-info.container
	.info-banner__button 
		ion-icon(name='chevron-back-outline' class="icon-info")
		a.link-back(href="#") Вернуться назад

	.banner 
		.banner__content 
			.banner-image 
				img.img-content__banner(src="assets/img/banner-img-content.png", alt="")
			.banner__description 
				h2.banner-desc__title Ягнёнок
				p.text__desc 
					| помидор, сыр фета, масло подсолнечное, капуста пекинская, <br> перец сладкий красный, огурцы, оливки без косточек
				span.span Вес: 210 г
				.basket-price 
					.price__button 
						a.basket__btn(href="#") Корзина
						hr
						ion-icon.icon-price(name='bag-handle-outline')
						
					h2.check-price 259 ₽
				.title-desc 
					.banner-span
						span.titles__span Белки
						span.titles__span Жиры
						span.titles__span Углеводы
						span.titles__span Ккал
						span.titles__span Вес
					hr.line
					.span-grams 
						span.grams 17.23
						span.grams 7.63
						span.grams 22.35
						span.grams 234
						span.grams 210