article.about.container
	.about__content 
		.about__description 
			h2.title__about 
				| НАШЕ КАФЕ
			p2.text__about 
				| Мы расположены в одном из самых живописных мест <br> города — на берегу реки, это ваш оазис в черте города, <br> куда можно сбежать от шумного и пыльного мегаполиса. <br> Мы, действительно уникальные, ведь все продумано до <br> мелочей: проект построен из дикого закарпатского сруба, <br> камин в основном зале ресторана и панорамные окна с <br> видом на реку, уютные беседки на берегу реки и лучшая <br> видовая террасса, шатер с посадкой на 200 человек, <br> сказочный детский домик и бассейн.
			.btn 
				a.about__btn(href="#") ПОСМОТРЕТЬ МЕНЮ
		.about-icon
			.about-icon__content 
				.about__blog
					.icons 
						img.icon__img(src="./assets/img/nonion.png", alt="")
						h3.icon__title Свежайшие продукты
					.icons 
						img.icon__img(src="./assets/img/nonion.png", alt="")
						h3.icon__title Свежайшие продукты