@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Black.woff");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.woff");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Extrabold");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.woff");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.woff");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Semibold.woff");
}
.header {
  font-family: "Gilroy";
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1.5625rem;
}
.header__logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5625rem;
  margin-right: 4.5rem;
}
.header__search, .header__search-adaptive {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem 1.125rem;
  background: #504B4A;
  border-radius: 0.625rem;
  margin-right: 30px;
  width: 100%;
}
.header__search input, .header__search-adaptive input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}
.header__search input::placeholder, .header__search-adaptive input::placeholder {
  font-size: 1.125rem;
}
.header__search ion-icon, .header__search-adaptive ion-icon {
  font-size: 24px;
}
.header__search ion-icon:first-child, .header__search-adaptive ion-icon:first-child {
  margin-right: 1.0625rem;
}
.header__search-adaptive {
  display: none;
}
.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.header__phone ion-icon {
  font-size: 20px;
  padding: 10px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 50%;
}
.header__phone-contact {
  display: flex;
  flex-direction: column;
}
.header__cart {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 1.125rem 1.5rem;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  gap: 0.625rem;
  border-radius: 0.625rem;
  transition: 0.6s all;
}
.header__cart hr {
  height: 20px;
  width: 0.0625rem;
  background: rgba(255, 255, 255, 0.3) !important;
}
.header__cart p {
  padding: 0.3125rem 0.5rem;
  background: #fff;
  border-radius: 50%;
  color: #000;
}
.header__cart span {
  font-size: 14px;
}
.header__cart ion-icon {
  display: none;
}

.hamburger {
  display: none;
  padding: 0;
}
.hamburger p {
  text-transform: uppercase;
  opacity: 1;
}
.hamburger-inner {
  background: #65906C;
}
.hamburger-inner::after, .hamburger-inner::before {
  background: #65906C;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #65906C;
}

@media screen and (max-width: 1020px) {
  .hamburger {
    display: block;
    z-index: 99;
  }
  .header {
    position: relative;
    justify-content: space-between;
  }
  .header__logo, .header__cart {
    margin: 0;
  }
  .header__cart {
    padding: 15px;
  }
  .header__cart ion-icon {
    display: block;
    font-size: 1.5rem;
  }
  .header__cart span {
    display: none;
  }
  .header__phone {
    max-width: 0;
    position: absolute;
    overflow: hidden;
    top: 95px;
    z-index: 99;
    left: 0;
    width: 100%;
    flex-direction: column;
    transition: 0.6s all;
    background: #CFCFCF;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .header__phone.is-active {
    max-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__search {
    display: none;
  }
  .header__search-adaptive {
    display: flex;
    box-sizing: border-box;
  }
  .header__search-adaptive-block {
    padding: 1.5625rem;
  }
}
@media screen and (max-width: 27.1875rem) {
  .header__logo {
    font-size: 20px;
  }
}
.banner {
  background: url(../img/banner.png) no-repeat;
  background-size: cover;
  min-height: 555px;
  font-family: ZingRustDemo, sans-serif;
  text-transform: uppercase;
  object-fit: fill;
  color: #fff;
}
.banner__content img {
  margin-top: 7.5rem;
}

@media screen and (max-width: 40.3125rem) {
  .banner__content img {
    width: 100%;
  }
}
.about {
  background: url(../img/aboutBg.png) no-repeat;
  background-size: cover;
  min-height: 610px;
  font-family: "Gilroy";
}
.about__content {
  padding: 70px 100px;
  color: #fff;
  display: flex;
  gap: 130px;
}
.about .title__about {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 26px;
}
.about .text__about {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.about .btn {
  padding-top: 60px;
}
.about .btn .about__btn {
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(2.5px);
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.icons {
  background: rgba(80, 75, 74, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons .icon__img {
  margin-bottom: 36px;
  padding-top: 70px;
}

.about__blog {
  display: flex;
  gap: 15px;
}

.blog-navs {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Gilroy";
}
.blog-navs .nav-card__info {
  display: flex;
  gap: 45px;
  color: #fff;
  margin-bottom: 30px;
}
.blog-navs .nav-card__info .nav__info {
  position: relative;
  font-size: 18px;
  font-weight: 400;
}
.blog-navs .nav-card__info .nav__info::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: solid 2px #fff;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.6s all;
}
.blog-navs .nav-card__info .nav__info:hover::before {
  opacity: 1;
  width: 100%;
  height: 2px;
}

.banner-info {
  padding-top: 45px;
}
.banner-info .info-banner__button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.banner-info .info-banner__button .icon-info {
  padding: 12px 12px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.banner-info .info-banner__button .link-back {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.banner-image {
  object-fit: cover;
}

.info .info__content {
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  display: flex;
  gap: 50px;
}
.info .info__content .info__description {
  font-family: "Gilroy";
  padding-top: 38px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.info .info__content .info__description .info-desc__title {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 25px;
}
.info .info__content .info__description .text__desc {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 110px;
}
.info .info__content .info__description .span {
  margin-bottom: 22px;
}
.info .info__content .info__description .basket-price {
  display: flex;
  align-items: center;
  gap: 25px;
}
.info .info__content .info__description .basket-price .price__button {
  display: flex;
  align-items: center;
  gap: 15px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  padding: 15px 30px;
}
.info .info__content .info__description .basket-price .price__button hr {
  height: 30px;
}
.info .info__content .info__description .basket-price .price__button .icon-price {
  font-size: 20px;
}
.info .info__content .info__description .basket-price .check-price {
  font-size: 25px;
}
.info .info__content .info__description .info-span {
  padding-top: 30px;
  display: flex;
  gap: 50px;
}
.info .info__content .info__description .info-span .titles__span {
  font-size: 12px;
  margin-bottom: 8px;
}
.info .info__content .info__description .line {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.info .info__content .info__description .span-grams {
  padding-top: 10px;
  display: flex;
  gap: 55px;
  margin-bottom: 15px;
}

@media (max-width: 1290px) {
  .blog-navs {
    display: none;
  }
  .info__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  .info__content .img-content__info {
    width: 100%;
  }
  .info-span {
    max-width: 100%;
  }
  .title-desc {
    max-width: 100%;
    overflow-x: scroll;
  }
}
.info__description {
  padding-top: 0;
}

.price__button {
  padding: 10px 20px;
}
.price__button .basket__btn {
  font-size: 16px;
}

.card__title {
  padding-top: 50px;
  font-family: "Gilroy";
  color: #fff;
  padding-bottom: 20px;
}

.cards {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  gap: 20px;
}
.cards .card {
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  color: #fff;
  margin-bottom: 50px;
  transition: 0.6s all;
  height: 385px;
  position: relative;
}
.cards .card:hover {
  transform: scale(1.01);
  box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);
  cursor: pointer;
}
.cards .card .card-desc__subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.cards .card .card-desc__subtitle .chicken-card__title {
  font-weight: bold;
  font-size: 22px;
}
.cards .card .card-desc__subtitle .chicken-span {
  font-size: 12px;
  font-weight: 400;
}
.cards .card .chicken-text {
  margin-left: 18px;
  font-size: 13px;
  font-weight: 400;
}
.cards .card .card-price__button {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  position: absolute;
  gap: 100px;
  bottom: 20px;
}
.cards .card .card-price__button .buttons-card {
  padding: 10px 20px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

.card__image {
  border-radius: 10px;
}

@media (max-width: 1290px) {
  .cards {
    display: flex;
    overflow-x: scroll;
    align-items: center;
  }
  .card {
    height: 420px;
    width: 100%;
  }
  .title-blog__cards {
    font-size: 20px;
    margin-left: 12px;
  }
  .buttons-card {
    padding: 10px 10px;
    font-size: 12px;
  }
  .card-price__button {
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
  }
  .card-price__button .buttons-card {
    margin-left: auto;
  }
}
.contact-about {
  background: url(../img/contact-bg.png) no-repeat;
  background-size: cover;
}

.contact-blog__content {
  display: flex;
  font-family: "Gilroy";
}

.number-data {
  width: 530px;
  height: 405px;
  background: #2E2B2C;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
  margin-top: 55px;
  border-radius: 15px;
  padding: 30px;
}
.number-data .number-data__title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 26px;
}

.location-data {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 16px;
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

body {
  background: #403C3B;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

hr {
  border: none;
}

/*# sourceMappingURL=style.css.map */
