.blog-navs.container
	.info-navs 
		nav.nav-card__info 
			a.nav__info(href="#") Холодные закуски
			a.nav__info(href="#") Горячие закуски
			a.nav__info(href="#") Мясные блюда
			a.nav__info(href="#") Супы
			a.nav__info(href="#") Рыбные блюда
			a.nav__info(href="#") Гриль меню
			a.nav__info(href="#") Фирменнные блюда
			a.nav__info(href="#") Напитки